[Desktop Entry]
Type=Application
Name=PackeTech
Name[ru]=PackeTech
Comment=Manage domains routed through WireGuard
Comment[ru]=Домены и маршруты через WireGuard
Exec=packetech
Icon=paketych
Terminal=false
Categories=Network;
StartupNotify=true
StartupWMClass=PackeTech
