[Desktop Entry]
Type=Application
Name=Пакетыч
Name[ru]=Пакетыч
Comment=Manage domains routed through WireGuard
Comment[ru]=Домены и маршруты через WireGuard
Exec=keenetic-desktop
Icon=paketych
Terminal=false
Categories=Network;
StartupNotify=true
StartupWMClass=Пакетыч
