[Unit]
Description=Пакетыч: обновление доменных маршрутов Keenetic
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/kwan sync
